<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="backendTest">
    <!--清除数据，打开数据库连接-->
    <test name="start">
        <packages>
            <package name="start"/>
        </packages>
    </test>
    <!--注册用户1，未注册用户2,3-->
    <test name="testIdentity">
        <packages>
            <package name="testIdentity"/>
        </packages>
    </test>
    <!--注册用户4,5-->
    <!--<test name="user">
        <packages>
            <package name="user"/>
        </packages>
    </test>-->
    <!--注册用户6无项目,7一个项目,8一个项目,9一个项目，且8添加9为项目成员-->
    <test name="testProject">
        <packages>
            <package name="testProject"/>
        </packages>
    </test>
    <!--注册用户10，一个项目-->
    <test name="testRole">
        <packages>
            <package name="testRole"/>
        </packages>
    </test>
    <!--注册用户11,12,13-->
    <test name="testMember">
        <packages>
            <package name="testMember"/>
        </packages>
    </test>
</suite>