<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="backend">
    <!--清除数据，打开数据库连接-->
    <test name="beforeSuite">
        <packages>
            <package name="beforeSuite"/>
        </packages>
    </test>
    <!--注册用户1，未注册用户2,3-->
    <test name="identity">
        <packages>
            <package name="identity"/>
        </packages>
    </test>
    <!--注册用户4,5-->
    <!--<test name="user">
        <packages>
            <package name="user"/>
        </packages>
    </test>-->
    <!--注册用户6无项目,7一个项目,8一个项目,9一个项目，且8添加9为项目成员-->
    <test name="project">
        <packages>
            <package name="project"/>
        </packages>
    </test>
    <!--注册用户10，一个项目-->
    <test name="role">
        <packages>
            <package name="role"/>
        </packages>
    </test>
    <!--注册用户11,12-->
    <test name="member">
        <packages>
            <package name="member"/>
        </packages>
    </test>
    <!--注册用户13,14,15,16,17-->
    <!--
    <test name="files">
        <packages>
            <package name="files"/>
        </packages>
    </test>
    -->
    <!--注册用户18,19-->
    <test name="barcode">
        <packages>
            <package name="barcode"/>
        </packages>
    </test>
    <!--注册用户20,21-->
    <test name="model">
        <packages>
            <package name="model"/>
        </packages>
    </test>
    <!--注册用户22,23供bimmodel使用-->
    <test name="bimModel">
        <packages>
            <package name="bimModel"/>
        </packages>
    </test>
    <!--注册用户24,25,26,27,28供task使用-->
    <!--
    <test name="task">
        <packages>
            <package name="task"/>
        </packages>
    </test>
    -->
    <!--注册用户29,30,31 供family使用-->
    <!--
    <test name="family">
        <packages>
            <package name="family"/>
        </packages>
    </test>
    -->
    <!--用户32，33,yinjilake项目，真实模型-->
    <test name="measurement">
        <packages>
            <package name="measurement"/>
        </packages>
    </test>
    <!--用户34，35,jingjilake项目-->
    <test name="process">
        <packages>
            <package name="process"/>
        </packages>
    </test>
    <!--用户36-->
    <test name="processTemplate">
        <packages>
            <package name="processTemplate"/>
        </packages>
    </test>

</suite>